<!DOCTYPE html>
<html lang="ro">

<head>
  <%- include('../fragmente/head') %>
</head>

<body class="dark">
  <%- include('../fragmente/header') %>

  <div>
    <section id="galerie-statica">
      <h2>Galerie Statica</h2>
      <%- include('../fragmente/galerie-statica-componenta') %>
    </section>
</div>

  <%- include ('../fragmente/footer') %>

</body>

</html>