<footer>
        
    <div class="banner-container">
    <p id="banner">Acesta este un proiect scolar!</p>
    </div>

    <section>
        <h3>FAQ - întrebari Frecvente</h3>

        <details>
        <summary> Cum pot comanda produsele? </summary>
        <p>Din sectiunea Produse.</p>
        </details>

        <details>
            <summary> Unde găsesc ofertele? </summary>
            <p>In sectiunea Oferte din Produse.</p>
            </details>

        <details>
            <summary> Cum funcționeaza abonamentul? </summary>
            <p>Va puteti abona pentru a primi lunar produsele noastre.</p>
        </details>

        <details>
            <summary> Cum mă pot abona? </summary>
            <p>Din sectiunea Abonamente din Produse.</p>
        </details>
        
        <details>
            <summary> Exista și magazine fizice unde pot merge să cumpăr produsele? </summary>
            <p>Din pacate nu exista.</p>
        </details>
        
    </section>
    
    
    <section>
        <h3>Contact</h3>
        <address>Adresa: <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.097398,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh">Str. Mihai Eminescu, nr. 1, București, România</a></address>
        <p>Telefon: <a href="tel:+40746434145">0722 222 222</a></p>
        <p><a href="mailto:horia.marinescu12@gmail.com">Email</a></p>
        <p><a href="https://wa.me/+40746434145">Whatsapp</a></p>
        <small><time datetime="2023-02-24">&copy; Coffe And Love - 2022</time></small>
    </section>

    <div class="tooltip">
        <a href="#" id="top-btn" class="link-top" >
            <div class="triunghi">
                <div class="tooltiptext">
                    Inapoi Sus</div>
                </div>
            </div>
        </a>
    </div>

</footer>