<p id="watermark"></p>
    <header>
        <nav>
            
            <!-- <h1>Coffee And Love - Magazin De Cafea</h1> -->
            <label id="hamburger" for="ch-menu">
                <i class="fa fa-bars fa-2x" alt="menu"></i>
            </label>
            <input id="ch-menu" type="checkbox">

            <ul class="meniu">
                <li>
                    <a href="/" class="home-link">
                            <i class="fa fa-home"></i>  
                            <p>Acasa</p>
                    </a>
                </li>
                
                <li>
                    <div href="/produse"><p>Produse</p></div>
                    <ul class="submeniu">
                        <li><a href="/cafea">Cafea</a></li>
                        <li><a href="/cani">Căni</a></li>
                        <li><a href="/abonamente">Abonamente</a></li>
                    </ul>
                </li>
                
                <li><a href="/oferte"><p>Oferte</p></a></li>
                <li><a href="/contact"><p>Contact</p></a></li>
                <li><a href="/despre"><p>Despre Noi</p></a></li>

            </ul>
        </nav>
    </header>