body {
    --menu-height: 4rem;
    --page-padding: 3rem;
    --menu-button-width: 7rem;
    --menu-color: var(--secondary-color);
}
  
  nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--menu-color);
    height: var(--menu-height);
    width: calc(100vw - 18px);
    margin-left: calc(-1 * var(--page-padding));
  }
  
  ul.meniu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    >li {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: var(--menu-button-width);
    }

    li {
        display: inline-block;
        text-align: center;
        width: var(--menu-button-width);
        height: var(--menu-height);
        overflow: hidden;
        background-color: var(--menu-color);
        box-sizing: content-box;
        transition: background-color 0.2s linear;
    
        &:hover {
            overflow: visible;
            background-color: var(--special-color);
        }
    }
  }
  
  ul.submeniu > li {
    display: inline-block;
    text-align: center;
    width: var(--menu-button-width);
    height: var(--menu-height);
    background-color: var(--menu-color);
    box-sizing: content-box;
    transition: background-color 0.2s linear;
  }
  
  ul.submeniu {
    opacity: 0;
    transition: all 0.2s linear;
    transform: scale(0, 0);
    transform-origin: center;
  }
  
  ul.meniu > li:hover > ul.submeniu {
    opacity: 1;
    transform: scale(1, 1);
  }
  
  ul.meniu > li div,
  ul.meniu > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: var(--menu-height);
    color: var(--text-color);
    text-decoration: none;
  }
  