html {
  font-size: 12px;
  transition: font-size 0.3s linear;
}

body {
  animation: none;
  transition: none;;
}

.grid{
  grid-template-columns: 1fr; 
  width: 100%;
  grid-template-areas:
    "z-home"
    "z-home"
    "z-produse"
    "z-produse"
    
    "z-calendar" 
    "z-detalii"
    "z-detalii"
    "z-anunturi"

    "z-utilizatori-online"
    " z-utilizatori-stats" 
    "z-date-site"
    
}

nav {
  width: 120%;
}

ul .meniu {
  display: none;
}

.iframe-container {
  display: none;
}

div.taburi-iframe {
  display: none;
}