body {
  --menu-height: 4rem;
  --menu-button-width: 10rem;
  --menu-color: var(--secondary-color);
}

nav {
  display: flex;
  position: sticky;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: var(--menu-color);
  height: var(--menu-height);
  width: calc(100vw - 18px);
  margin-left: calc(-1 * var(--page-padding));
}

ul.meniu {
  justify-content: space-between;
  display: flex;
}

ul.meniu > li {
  display: inline-block;
  text-align: center;
  width: var(--menu-button-width);
  height: var(--menu-height);
  overflow: hidden;
  background-color: var(--menu-color);
  box-sizing: content-box;
  transition: background-color 0.2s linear;
}

ul.submeniu > li {
  display: inline-block;
  text-align: center;
  width: var(--menu-button-width);
  height: var(--menu-height);
  background-color: var(--menu-color);
  box-sizing: content-box;
  transition: background-color 0.2s linear;
}

ul.meniu li:hover {
  background-color: var(--special-color);
  overflow: visible;
}

ul.submeniu {
  opacity: 0;
  transition: all 0.2s linear;
  transform: scale(0, 0);
  transform-origin: center;
}

ul.meniu > li:hover > ul.submeniu {
  opacity: 1;
  transform: scale(1, 1);
}

ul.meniu > li div,
ul.meniu > li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 3rem;
  color: var(--text-color);
  text-decoration: none;
}

.home-link i{
  display: none;  
}


@media screen and (max-width:1000px) and (min-width:701px) {
  
  .home-link i{
    display: inline;
  }
  
  .home-link{
    margin-bottom: 100px;
    
  }
  
  .home-link p {
    color: var(--secondary-color);
    display: inline-block;  
    font-size: 17px;
    transform: all 1s linear ;
  }
  
  .home-link:hover p{
    color: #fff;
    transition: all 1s linear;
  }
  
  nav {
    width: calc(100vw);
    margin-left: calc(-1 * 2.5rem);
  }
}

@media screen and (max-width:700px) {
  nav {
    width: calc(100vw - 0px);
  }
}
