/* 

ad8350
afa060
3e6259

*/

body {
    --maro-principal: #ad8350;
    --maro-secundar: #afa060;
    --verde: #3e6259;

    --culoare-fundal: white;
}

body.dark {
    --culoare-fundal: black;
}

body {
    background-color: var(--culoare-fundal);

}


/*
PENTRU GRID MAP

[13:36] IRINA CIOCAN

#welcome{​​
    grid-area: z-welcome;
}​​
#promotii{​​
    grid-area: z-promotii;
}​​
#produse{​​
    grid-area: z-produse;
}​​
#orar{​​
    grid-area: z-orar;
}​​
#fig1{​​
    grid-area: z-fig1;
}​​
#fig2{​​
    grid-area: z-fig2;
}​​
#fig3{​​
    grid-area: z-fig3;
}​​
#anunturi{​​
    grid-area: z-anunturi;
}​​
#index-intrebari{​​
    grid-area: z-index-intrebari;
}​​
*/